.location {
    background-color: rgb(153, 118, 118);
    border-radius: 10px;
    width: 350px;
    display: inline-block;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

#gold_count {
    font-size: 40px;
}

.location h3 {
    font-size: 35px;
}

.location p {
    font-size: 25px;
}

.location button {
    width: 100px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 25px;
}

#message_container {
    height: 350px;
    width: 500px;
    border: 1px solid green;
    margin: 0 auto;
    text-align: center;
    overflow: scroll;
}




